docker/docker_status.json
[{"id":"f8f1c2e1.c5bde8","type":"comment","name":"Ping Docker on KVMHOST","info":"","x":114,"y":688,"z":"c0be1bea.341748","wires":[]},{"id":"74449fe3.6099b","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":319,"y":688,"z":"c0be1bea.341748","wires":[["789bf169.bc6578"]]},{"id":"49bf3828.133c1","type":"debug","name":"","active":true,"console":"false","complete":"false","x":625,"y":688,"z":"c0be1bea.341748","wires":[]},{"id":"789bf169.bc6578","type":"http request","name":"","method":"GET","ret":"txt","url":"http://172.17.42.1:2375/_ping","x":466,"y":688,"z":"c0be1bea.341748","wires":[["49bf3828.133c1"]]}]