docker/start_and_stop_demo.json
[{"id":"cef90486.5e69e8","type":"comment","name":"Start Containers","info":"Start container based on:\n\n{\n  image: \"<known image>\",\n  version: \"<known version>\",\n  instances: \"<number of instances to scale up/down to>\"\n}","x":92.5,"y":494,"z":"999ad9d5.b2651","wires":[]},{"id":"8ffc4c54.89f648","type":"inject","name":"","topic":"","payload":"{\"image\": \"kvmhost:5000/software/apache\", \"version\": \"latest\", \"instances\": \"3\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":170.11111450195312,"y":532.8889312744141,"z":"999ad9d5.b2651","wires":[["2d220d72.e1e9d2"]]},{"id":"9e5493f3.a1c46","type":"function","name":"Create non-payload variables","func":"msg.dockerInstances = msg.payload.instances;\nmsg.dockerImage = msg.payload.image + \":\" + msg.payload.version;\n\nreturn msg;","outputs":1,"valid":true,"x":523.5555419921875,"y":528.7777862548828,"z":"999ad9d5.b2651","wires":[["a51b2012.362be"]]},{"id":"a51b2012.362be","type":"http request","name":"Request running containers","method":"GET","ret":"obj","url":"http://kvmhost:2375/containers/json","x":549.3333740234375,"y":563.6666870117188,"z":"999ad9d5.b2651","wires":[["69e7fe34.f89538"]]},{"id":"2d220d72.e1e9d2","type":"json","name":"","x":295.5555419921875,"y":533.1111602783203,"z":"999ad9d5.b2651","wires":[["9e5493f3.a1c46"]]},{"id":"69e7fe34.f89538","type":"function","name":"Work out starts and stops","func":"containerList = [];\nmsg.payload.forEach(function(element){\n   if (element.Image == msg.dockerImage) {\n       containerList.push(element.Id);\n   }\n});\nvar desiredChange = msg.dockerInstances - containerList.length;\n//node.warn(msg.dockerInstances + \" - \" + containerList.length + \" = \" + desiredChange);\nif (desiredChange === 0) {\n    return [null,null];\n}\nelse if (desiredChange > 0){\n    // we need to create/start some containers\n    var startlist = [];\n    for (var i = 0; i < desiredChange; i++) {\n        startlist.push({payload: {Image: msg.dockerImage, HostConfig: {Links:[\"redis:redis\"]}}});\n    }\n    return [startlist,null];\n}\nelse if (desiredChange < 0) {\n    //we need to stop/destroy some containers\n    var stoplist = [];\n    for (var i = 0; i < Math.abs(desiredChange); i++) {\n        stoplist.push({stopthis: containerList[i]});\n    }\n    return [null,stoplist];\n}","outputs":"2","valid":true,"x":562.2221984863281,"y":598.4444274902344,"z":"999ad9d5.b2651","wires":[["ed9b7218.79d298"],["766e91bc.c635f"]]},{"id":"766e91bc.c635f","type":"http request","name":"Stop a container","method":"POST","ret":"txt","url":"http://kvmhost:2375/containers/{{stopthis}}/stop","x":847.6666564941406,"y":647.2222595214844,"z":"999ad9d5.b2651","wires":[["de7e5cdc.0b786"]]},{"id":"de7e5cdc.0b786","type":"http request","name":"Remove a container","method":"DELETE","ret":"txt","url":"http://kvmhost:2375/containers/{{stopthis}}","x":874.5555419921875,"y":685.0000305175781,"z":"999ad9d5.b2651","wires":[["51d3efe5.8f78b"]]},{"id":"51d3efe5.8f78b","type":"debug","name":"","active":false,"console":"false","complete":"statusCode","x":1065.4445190429688,"y":684.6666564941406,"z":"999ad9d5.b2651","wires":[]},{"id":"ed9b7218.79d298","type":"http request","name":"Create a container","method":"POST","ret":"obj","url":"http://kvmhost:2375/containers/create","x":850.6666870117188,"y":520.0000152587891,"z":"999ad9d5.b2651","wires":[["1bb098b0.4126ff"]]},{"id":"53312eef.83c0d","type":"http request","name":"Start a container","method":"POST","ret":"txt","url":"http://kvmhost:2375/containers/{{id}}/start","x":856.2222290039062,"y":592.2222595214844,"z":"999ad9d5.b2651","wires":[["d7699c9b.b6ac48"]]},{"id":"d7699c9b.b6ac48","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1022.6666870117188,"y":592.1111145019531,"z":"999ad9d5.b2651","wires":[]},{"id":"1bb098b0.4126ff","type":"function","name":"Grab details of created container and set up for start","func":"var newmsg = {id: msg.payload.Id, headers: {}, payload: {}};\nnewmsg.headers[\"Content-Type\"] = \"application/json\";\nreturn newmsg;","outputs":1,"valid":true,"x":955.3333129882812,"y":555.5555419921875,"z":"999ad9d5.b2651","wires":[["53312eef.83c0d"]]},{"id":"114316d3.cf4a91","type":"http in","name":"","url":"/docker/scaler","method":"post","x":267.02777099609375,"y":494.4444580078125,"z":"999ad9d5.b2651","wires":[["a9fcd130.8c3e7","9e5493f3.a1c46"]]},{"id":"c3e93d0e.bda3e8","type":"http response","name":"","x":709.8055419921875,"y":494.88890075683594,"z":"999ad9d5.b2651","wires":[]},{"id":"a9fcd130.8c3e7","type":"change","name":"Set \"Received OK\" response","rules":[{"t":"set","p":"payload","to":"{\"result\": \"Received OK\"}"}],"action":"","property":"","from":"","to":"","reg":false,"x":517.8054809570312,"y":494.7777862548828,"z":"999ad9d5.b2651","wires":[["c3e93d0e.bda3e8"]]}]
