docker/start_and_stop_demo.json
[{"id":"cef90486.5e69e8","type":"comment","name":"Start Containers","info":"Start container based on:\n\n{\n  image: \"<known image>\",\n  version: \"<known version>\",\n  instances: \"<number of instances to scale up/down to>\"\n}","x":81.5,"y":199,"z":"999ad9d5.b2651","wires":[]},{"id":"8ffc4c54.89f648","type":"inject","name":"","topic":"","payload":"{\"image\": \"kvmhost:5000/software/apache\", \"version\": \"latest\", \"instances\": \"3\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":248,"y":199,"z":"999ad9d5.b2651","wires":[["2d220d72.e1e9d2"]]},{"id":"9e5493f3.a1c46","type":"function","name":"Create non-payload variables","func":"msg.dockerInstances = msg.payload.instances;\nmsg.dockerImage = msg.payload.image + \":\" + msg.payload.version;\n\nreturn msg;","outputs":1,"valid":true,"x":377,"y":276,"z":"999ad9d5.b2651","wires":[["a51b2012.362be"]]},{"id":"a51b2012.362be","type":"http request","name":"Request running containers","method":"GET","ret":"obj","url":"http://kvmhost:2375/containers/json","x":405,"y":312,"z":"999ad9d5.b2651","wires":[["69e7fe34.f89538"]]},{"id":"2d220d72.e1e9d2","type":"json","name":"","x":279,"y":237,"z":"999ad9d5.b2651","wires":[["9e5493f3.a1c46"]]},{"id":"69e7fe34.f89538","type":"function","name":"Work out starts and stops","func":"containerList = [];\nmsg.payload.forEach(function(element){\n   if (element.Image == msg.dockerImage) {\n       containerList.push(element.Id);\n   }\n});\nvar desiredChange = msg.dockerInstances - containerList.length;\nnode.warn(msg.dockerInstances + \" - \" + containerList.length + \" = \" + desiredChange);\nif (desiredChange === 0) {\n    return [null,null];\n}\nelse if (desiredChange > 0){\n    // we need to create/start some containers\n    node.warn(\"Got here\");\n    var startlist = [];\n    for (var i = 0; i < desiredChange; i++) {\n        startlist.push({payload: {Image: msg.dockerImage}});\n    }\n    return [startlist,null];\n}\nelse if (desiredChange < 0) {\n    //we need to stop/destroy some containers\n    var stoplist = [];\n    for (var i = 0; i < Math.abs(desiredChange); i++) {\n        stoplist.push({stopthis: containerList[i]});\n    }\n    return [null,stoplist];\n}","outputs":"2","valid":true,"x":429,"y":349,"z":"999ad9d5.b2651","wires":[["ed9b7218.79d298"],["766e91bc.c635f"]]},{"id":"766e91bc.c635f","type":"http request","name":"Stop a container","method":"POST","ret":"txt","url":"http://kvmhost:2375/containers/{{stopthis}}/stop","x":670,"y":370,"z":"999ad9d5.b2651","wires":[["de7e5cdc.0b786"]]},{"id":"de7e5cdc.0b786","type":"http request","name":"Remove a container","method":"DELETE","ret":"txt","url":"http://kvmhost:2375/containers/{{stopthis}}","x":878,"y":370,"z":"999ad9d5.b2651","wires":[["51d3efe5.8f78b"]]},{"id":"51d3efe5.8f78b","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1065,"y":370,"z":"999ad9d5.b2651","wires":[]},{"id":"ed9b7218.79d298","type":"http request","name":"Create a container","method":"POST","ret":"obj","url":"http://kvmhost:2375/containers/create","x":663,"y":335,"z":"999ad9d5.b2651","wires":[["1bb098b0.4126ff"]]},{"id":"53312eef.83c0d","type":"http request","name":"Start a container","method":"POST","ret":"txt","url":"http://kvmhost:2375/containers/{{id}}/start","x":983,"y":335,"z":"999ad9d5.b2651","wires":[["d7699c9b.b6ac48"]]},{"id":"d7699c9b.b6ac48","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1145,"y":335,"z":"999ad9d5.b2651","wires":[]},{"id":"1bb098b0.4126ff","type":"function","name":"","func":"var newmsg = {id: msg.payload.Id, headers: {}, payload: {}};\nnewmsg.headers[\"Content-Type\"] = \"application/json\";\nreturn newmsg;","outputs":1,"valid":true,"x":832,"y":335,"z":"999ad9d5.b2651","wires":[["53312eef.83c0d"]]}]
