node-red-api/distributable.json
[{"id":"ee874f97.26405","type":"inject","z":"2c305efc.49910a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":860,"wires":[["ee00f131.d85c6"]]},{"id":"97f4bbd5.dc60c8","type":"debug","z":"2c305efc.49910a","name":"","active":true,"console":"false","complete":"true","x":1570,"y":880,"wires":[]},{"id":"ee00f131.d85c6","type":"http request","z":"2c305efc.49910a","name":"Get flows","method":"GET","ret":"obj","url":"http://campi2:1880/flows","tls":"","x":260,"y":860,"wires":[["8ae06476.f0ab8"]]},{"id":"8ae06476.f0ab8","type":"function","z":"2c305efc.49910a","name":"Return id of \"Distributable\" flow","func":"node.send({payload: msg.payload.find(function (element) { return element.label == \"Distributable\";}).id});\nreturn null;","outputs":1,"noerr":0,"x":470,"y":860,"wires":[["63c3bbe6.cc1cf4"]]},{"id":"63c3bbe6.cc1cf4","type":"http request","z":"2c305efc.49910a","name":"Get \"Distributable\" flow nodes","method":"GET","ret":"obj","url":"http://campi2:1880/flow/{{payload}}","tls":"","x":750,"y":860,"wires":[["b7283d8b.aca32"]]},{"id":"b7283d8b.aca32","type":"change","z":"2c305efc.49910a","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-type\": \"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":860,"wires":[["c13eeb1.8e29f18"]]},{"id":"c13eeb1.8e29f18","type":"http request","z":"2c305efc.49910a","name":"POST flow to second nodeRed","method":"POST","ret":"obj","url":"http://campi2:1881/flow","tls":"","x":1230,"y":860,"wires":[["bdb03e28.626ee"]]},{"id":"bdb03e28.626ee","type":"switch","z":"2c305efc.49910a","name":"Success?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"eq","v":"400","vt":"num"}],"checkall":"true","outputs":2,"x":1440,"y":860,"wires":[["3ea6f227.ffa7ee"],["97f4bbd5.dc60c8"]],"outputLabels":["Yes","No"]},{"id":"3ea6f227.ffa7ee","type":"debug","z":"2c305efc.49910a","name":"","active":true,"console":"false","complete":"false","x":1590,"y":840,"wires":[]}]
