osmand/livemap.json
[{"id":"6caf1f18.cd4a58","type":"mqtt-broker","broker":"172.17.42.1","port":"1883","clientid":"tracker"},{"id":"54651cc0.ab9ae4","type":"websocket-listener","path":"/ws/location","wholemsg":"false"},{"id":"42480285.e5fb0c","type":"http in","name":"","url":"/osmand","method":"get","x":138.57144165039062,"y":130,"z":"7b20b48d.1f4f0c","wires":[["c898b28f.bbc7e8","714edd6a.47ce5c","ef0815d8.315c18","18874837.bb4dc"]]},{"id":"c898b28f.bbc7e8","type":"http response","name":"","x":363.9999694824219,"y":127,"z":"7b20b48d.1f4f0c","wires":[]},{"id":"714edd6a.47ce5c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":366.5714416503906,"y":90.142822265625,"z":"7b20b48d.1f4f0c","wires":[]},{"id":"22bef6f8.33903a","type":"geofence","name":"","mode":"circle","inside":"both","rad":502.6137476739812,"points":[],"centre":{"latitude":51.40024002892958,"longitude":-1.320691110449843},"x":698.2856750488281,"y":220.99998474121094,"z":"7b20b48d.1f4f0c","wires":[["97ee7280.bd68c8"]]},{"id":"ef0815d8.315c18","type":"function","name":"Quick convert lat/lon for GeoFence","func":"msg.location = {lat: msg.payload.lat, lon: msg.payload.lon};\nreturn msg;","outputs":1,"x":452.4285583496094,"y":219.57142639160156,"z":"7b20b48d.1f4f0c","wires":[["c74b0f99.1a8d48","22bef6f8.33903a"]]},{"id":"c74b0f99.1a8d48","type":"debug","name":"","active":false,"console":"false","complete":"true","x":691.7142028808594,"y":174.28565979003906,"z":"7b20b48d.1f4f0c","wires":[]},{"id":"97ee7280.bd68c8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":843.1428527832031,"y":221.57142639160156,"z":"7b20b48d.1f4f0c","wires":[]},{"id":"b42ef4c.be8a708","type":"debug","name":"","active":false,"console":false,"complete":"false","x":467.1472473144531,"y":417.0000305175781,"z":"7b20b48d.1f4f0c","wires":[]},{"id":"5c6aabda.cc4c5c","type":"function","name":"Reformat location ready for Leaflet","func":"var newmsg = {payload: {lat: Number(msg.payload.lat), lon: Number(msg.payload.lon)} };\n\nreturn newmsg;\n","outputs":1,"x":880.8253173828125,"y":371.9286193847656,"z":"7b20b48d.1f4f0c","wires":[["183f65df.0a3b52","41cb257.a01485c"]]},{"id":"183f65df.0a3b52","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1123.6114501953125,"y":373.1785888671875,"z":"7b20b48d.1f4f0c","wires":[]},{"id":"41cb257.a01485c","type":"websocket out","name":"","server":"54651cc0.ab9ae4","x":1150.4329223632812,"y":432.0517883300781,"z":"7b20b48d.1f4f0c","wires":[]},{"id":"13d53a94.95bead","type":"websocket in","name":"","server":"54651cc0.ab9ae4","x":931.0758056640625,"y":433.9804382324219,"z":"7b20b48d.1f4f0c","wires":[["41cb257.a01485c"]]},{"id":"c08205bd.5137f8","type":"http in","name":"","url":"/map","method":"get","x":110.33765956333707,"y":550.6234893798828,"z":"7b20b48d.1f4f0c","wires":[["8ea2cd4a.9a271"]]},{"id":"8ea2cd4a.9a271","type":"template","name":"MAP Page source","field":"","template":"<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>MQTT, Leaflet.js & Node-Red Live Map</title>\n\t\t<link rel=\"stylesheet\" href=\"http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css\" />\n\t\t<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\"></script>\n\t\t<script src=\"http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js\"></script>\n\t\t<style type=\"text/css\" media=\"screen\">\n\t\t\t#map {\n\t\t\t\tposition:absolute;\n\t\t\t\ttop: 5px; bottom: 5px; left: 5px; right: 5px;\n\t\t\t}\n\t\t</style>\n\t</head>\n\n\t<body>\n\t\t<div id=\"map\"></div>\n\t\t$(document).ready(function(){\n\t\t\t<script>\n\t\t\t\t// You need to add your Node Red server name and port in here\n\t\t\t\tvar noderedserver = \"myserver:1880\"\n\t\t\t\tvar sock = new WebSocket(\"ws://\" + noderedserver + \"/ws/location\");\n\t\t\t\tvar map = L.map('map');\n\t\t\t\tvar latlng = [51.4, -1.32];\n\n\t\t\t\tL.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 18, attribution: 'Map data &copy; <a href=\"http://openstreetmap.org\">OpenStreetMap</a> contributors' }).addTo(map);\n\t\t\t\tmap.setView(latlng,14);\n\t\t\t\tvar marker = L.marker(latlng).addTo(map);\n\n\t\t\t\tsock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t\t\tsock.onmessage = function(evt){\n\t\t\t\t\tvar newlatlng = new L.LatLng(JSON.parse(evt.data).lat, JSON.parse(evt.data).lon);\n\t\t\t\t\tconsole.log(newlatlng);\n\t\t\t\t\tmap.panTo(newlatlng);\n\t\t\t\t\tmarker.setLatLng(newlatlng);\n\t\t\t\t}\n\t\t\t</script>\n\t\t});\n\t</body>\n</html>","x":283.7186279296875,"y":551.2902069091797,"z":"7b20b48d.1f4f0c","wires":[["e755990f.428ab8"]]},{"id":"e755990f.428ab8","type":"http response","name":"","x":455.3852844238281,"y":550.6235198974609,"z":"7b20b48d.1f4f0c","wires":[]},{"id":"961c6261.0b442","type":"comment","name":"Receive location from MQTT and send to WebSocket","info":"","x":242.42861938476562,"y":316.1428985595703,"z":"7b20b48d.1f4f0c","wires":[]},{"id":"b7ca0ee9.f43008","type":"comment","name":"Web page that uses WebSockets to retrieve the latest location","info":"","x":270.1428527832031,"y":486.7144317626953,"z":"7b20b48d.1f4f0c","wires":[]},{"id":"592f79f6.f638f8","type":"mqtt in","name":"","topic":"<insert same topic as \"Send OSMAnd to MQTT\">","broker":"6caf1f18.cd4a58","x":201.09527587890625,"y":371.80511474609375,"z":"7b20b48d.1f4f0c","wires":[["b42ef4c.be8a708","8e77ddf3.2a1a98"]]},{"id":"18874837.bb4dc","type":"mqtt out","name":"Send OSMAnd to MQTT","topic":"<insertyourtopicnamehere>","qos":"","retain":"","broker":"6caf1f18.cd4a58","x":431.0953674316406,"y":169.14279174804688,"z":"7b20b48d.1f4f0c","wires":[]},{"id":"8e77ddf3.2a1a98","type":"json","name":"","x":488.95245361328125,"y":372.71429443359375,"z":"7b20b48d.1f4f0c","wires":[["43609449.4b08e4"]]},{"id":"43609449.4b08e4","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":631.8095092773438,"y":374.14288330078125,"z":"7b20b48d.1f4f0c","wires":[["5c6aabda.cc4c5c"]]},{"id":"294742bf.fb99b6","type":"comment","name":"Rx from OSMAnd and publish to MQTT","info":"a","x":198.71429443359375,"y":42.71427917480469,"z":"7b20b48d.1f4f0c","wires":[]}]
