osmand/simple_geofence.json
[{"id":"588a74d8.6221f4","type":"http in","name":"","url":"/osmand","method":"get","x":187,"y":83,"z":"cfa0c180.65aba","wires":[["2e66706b.91a84","14223ae9.0523ed","ecf12926.1f519"]]},{"id":"2e66706b.91a84","type":"http response","name":"","x":441,"y":80,"z":"cfa0c180.65aba","wires":[]},{"id":"14223ae9.0523ed","type":"debug","name":"","active":true,"console":"false","complete":"false","x":426,"y":174,"z":"cfa0c180.65aba","wires":[]},{"id":"586b1ad7.4e5344","type":"geofence","name":"","mode":"circle","inside":"both","rad":534.4805716309297,"points":[],"centre":{"latitude":51.391243124855436,"longitude":-1.311078073340468},"x":434,"y":281,"z":"cfa0c180.65aba","wires":[["3193c324.04f26c"]]},{"id":"ecf12926.1f519","type":"function","name":"","func":"msg.location = {lat: msg.payload.lat, lon: msg.payload.lon};\nreturn msg;","outputs":1,"x":283,"y":213,"z":"cfa0c180.65aba","wires":[["b0ba7564.4aadb","586b1ad7.4e5344"]]},{"id":"b0ba7564.4aadb","type":"debug","name":"","active":false,"console":"false","complete":"true","x":431,"y":228,"z":"cfa0c180.65aba","wires":[]},{"id":"3193c324.04f26c","type":"debug","name":"","active":true,"console":"false","complete":"true","x":635,"y":279,"z":"cfa0c180.65aba","wires":[]}]
